*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    width: 100px;
    max-width: 600px;
    margin:auto;
    text-align: center;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.input input{
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.input button{
    padding: 10px;
    background-color: rgb(37, 142, 247);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input button:hover{
    background-color: rgb(37, 142, 247);
}

.waether-box{
    height: 500px;
    border: 2px solid black;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;

}

/* .icon{
    font-size: 50px;
    margin-bottom: 20px;
} */

.waether{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.temperature{
    font-size: 30px;
    margin-bottom: 10px;
}

.description{
    font-size: 16px;
}